@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$success-color: #cbcbcb47;
$borderColorSuccess: #23f42a;
$borderColorFail: #ff303e;

.alert {
  width: 350px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
  position: absolute;
  z-index: 3;
  top: -150px; 
  left: 50%;
  border-radius: 10px;
  transform: translateX(100%);
  animation-name: slideDown;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    top: -150px;
    opacity: 0;
  }
  20% {
    top: 20px;
    opacity: 1;
  }
  80% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -150px;
    opacity: 0;
  }
}

@mixin alert-2($borderColor,$color) {
  border-left: 4px solid $borderColor;
  background-color: rgba($color,1);

  .alert-title {
    color: black;
  }
}

.alert-2-success {
  @include alert-2($borderColorSuccess,$success-color);
}
.alert-2-fail {
  @include alert-2($borderColorFail,$success-color);
}

.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #555555;
}
